.container {
  width: 100%;
  section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 393px;
    height: 100vh;
    .landing_title_box {
      margin-bottom: 9px;
      .landing_title {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
      }
    }
    .landing_title_date_box {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      .landing_title_date {
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
      }
    }
    .landing_sub_title_box {
      margin-bottom: 13px;
      .landing_sub_title {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
      }
    }
    .landing_member_box {
      display: flex;
      gap: 29px;
      margin-bottom: 25px;
      .landing_member_item {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
      }
    }
    .main_img_box {
      margin: 25px 0;
      .main_img {
        width: 326px;
        height: 407px;
      }
    }
    .landing_description_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 13px;
      .landing_description_item {
        font-size: 14px;
        font-weight: 400;
        line-height: 17.5px;
      }
    }
    .content_title_box {
      margin-bottom: 63px;
      .content_title {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }
    }
    .intro_content_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 63px;
      .intro_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.5px;
      }
    }
    .border_line {
      width: 30px;
      height: 1px;
      background-color: #000;
    }
    .family_list_box {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .family_item_box {
        width: 184px;
        display: flex;
        justify-content: space-between;
        .parents_box {
          .parents {
            font-size: 14px;
            font-weight: 700;
            line-height: 17.5px;
          }
        }
        .word {
          font-size: 12px;
          font-weight: 400;
          line-height: 17.5px;
        }
        div .word {
          margin-left: 4px;
        }
        .concerned_party {
          font-size: 14px;
          font-weight: 700;
          line-height: 17.5px;
        }
      }
    }

    .contact_content_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      .bride_groom_box {
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-bottom: 105px;
        .bride_groom_item {
          .bride_groom_title {
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
          }
          .bride_groom_call_btn {
            margin-left: 20px;
          }
          .bride_groom_sms_btn {
            margin-left: 19px;
          }
        }
      }
    }

    .host_box {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 43px;
      .host_item_box {
        display: flex;
        flex-direction: column;
        gap: 25px;
        .host_title {
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 8px;
        }
        .host_item {
          display: flex;
          flex-direction: column;
          align-items: center;
          .host_info {
            display: flex;
            align-items: flex-end;
            gap: 7px;
            margin-bottom: 16px;
            font-size: 14px;
            font-weight: 400;
            .host_info_bold {
              font-size: 16px;
              font-weight: 700;
            }
          }
          .host_action_box {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 35px;
          }
        }
      }
    }
    .gallery_box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      .gallery_item {
        width: 100px;
        height: 100px;
        .gallery_btn {
          width: 100%;
          height: 100%;
          .gallery_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .gallery_guide_box {
      margin-top: 30px;
      .gallery_guide {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
      }
    }

    .content_title_box2 {
      margin-bottom: 43px;
    }
    .location_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      margin-bottom: 31px;
      .location_content_title {
        font-size: 16px;
        font-weight: 700;
        line-height: 17.5px;
      }
      .location_content_item {
        font-size: 14px;
        font-weight: 400;
        line-height: 17.5px;
        &:last-child {
          font-size: 12px;
        }
      }
    }
  }
}
