.container {
  width: 100%;
  position: relative;
  section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .landing_title_box {
      margin-top: 50px;
      margin-bottom: 9px;
      .landing_title {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
      }
    }
    .landing_title_date_box {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      .landing_title_date {
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
      }
    }
    .landing_sub_title_box {
      margin-bottom: 9px;
      .landing_sub_title {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
      }
    }
    .landing_member_box {
      display: flex;
      gap: 29px;
      .landing_member_item {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
      }
    }
    .main_img_box {
      margin: 25px 0;
      .main_img {
        width: 326px;
        height: 407px;
        object-fit: cover;
      }
    }
    .landing_description_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 13px;
      .landing_description_item {
        font-size: 14px;
        font-weight: 400;
        line-height: 17.5px;
      }
    }
    .content_title_box {
      margin-bottom: 63px;
      .content_title {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }
    }
    .intro_content_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 63px;
      .intro_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.5px;
      }
    }
    .border_line {
      width: 30px;
      height: 1px;
      background-color: #000;
    }
    .family_list_box {
      display: flex;
      flex-direction: column;
      // 모바일에서 글씨가 깨져서 나와서 수정..
      width: 100%;
      justify-content: center;
      align-items: center;
      // 여기까지 수정사항
      gap: 12px;
      .family_item_box {
        // 여기도 width 수정 
        // width: 184px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        .parents_box {
          .parents {
            font-size: 14px;
            font-weight: 700;
            line-height: 17.5px;
          }
        }
        .word {
          font-size: 12px;
          font-weight: 400;
          line-height: 17.5px;
        }
        div .word {
          margin-left: 4px;
        }
        .concerned_party {
          font-size: 14px;
          font-weight: 700;
          line-height: 17.5px;
        }
      }
    }

    .contact_content_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      .bride_groom_box {
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-bottom: 105px;
        .bride_groom_item {
          .bride_groom_title {
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
          }
          .bride_groom_call_btn {
            margin-left: 20px;
          }
          .bride_groom_sms_btn {
            margin-left: 19px;
          }
        }
      }
    }

    .host_box {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 43px;
      .host_item_box {
        display: flex;
        flex-direction: column;
        gap: 25px;
        .host_title {
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 8px;
        }
        .host_item {
          display: flex;
          flex-direction: column;
          align-items: center;
          .host_info {
            display: flex;
            align-items: flex-end;
            gap: 7px;
            margin-bottom: 16px;
            font-size: 14px;
            font-weight: 400;
            .host_info_bold {
              font-size: 16px;
              font-weight: 700;
            }
          }
          .host_action_box {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 35px;
          }
        }
      }
    }
    .gallery_box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      .gallery_item {
        width: 100px;
        height: 100px;
        .gallery_btn {
          width: 100%;
          height: 100%;
          .gallery_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .gallery_guide_box {
      margin-top: 30px;
      .gallery_guide {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
      }
    }

    .content_title_box_43 {
      margin-bottom: 43px;
    }
    .location_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      margin-bottom: 31px;
      .location_content_title {
        font-size: 16px;
        font-weight: 700;
        line-height: 17.5px;
      }
      .location_content_item {
        font-size: 14px;
        font-weight: 400;
        &:last-child {
          font-size: 12px;
        }
      }
    }

    .location_map_box {
      width: 301px;
      height: 200px;
      overflow: hidden;
    }
    .location_descript {
      margin-top: 29px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0 37px;
      .location_descript_section {
        display: flex;
        flex-direction: column;
        gap: 6px;
        .location_descript_title {
          font-size: 12px;
          font-weight: 700;
          line-height: 15px;
        }
        .location_descript_content {
          font-size: 12px;
          font-weight: 400;
          line-height: 15px;
          letter-spacing: -0.3px;
        }
      }
      .location_descript_section:nth-of-type(3) {
        .location_descript_content {
          line-height: 9px;
          &:nth-child(4),
          &:nth-child(5) {
            text-indent: 7px;
          }
        }
      }
    }
    .content_title_box_48 {
      margin-bottom: 48px;
    }
    .account_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 21px;
      .account_item {
        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 48px;
        }
        &:nth-child(2) {
          margin-bottom: 46px;
          .account_content {
            font-size: 16px;
          }
        }
        .account_content {
          font-size: 12px;
          font-weight: 400;
          line-height: 15px;
        }
      }
    }
    .account_active_box {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .account_active_item {
        display: flex;
        flex-direction: column;
        width: 343px;
        overflow: hidden;
        max-height: 56px;
        padding: 19px 16px;
        border: 1px solid #e1e1e2;
        border-radius: 12px;
        transition: all 0.3s ease;

        .account_default {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .account_default_title {
            font-size: 12px;
          }
          .account_default_btn {
            svg {
              transition: transform 0.2s ease-in-out;
              &.active {
                transform: rotate(180deg);
              }
            }
          }
        }

        .account_hidden_box {
          opacity: 0;
          transition: all 0.5s ease;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .account_hidden_item {
            display: flex;
            flex-direction: column;
            .account_hidden_content_box {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .account_hidden_content_inner {
                display: flex;
                align-items: center;
                gap: 3px;
                .account_hidden_content {
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 24px;
                  &:nth-child(2) {
                    color: #1a1a1a;
                    opacity: 0.3;
                  }
                }
              }
              .account_hidden_copy_btn {
                font-size: 10px;
                font-weight: 400;
                width: 51px;
                height: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 3px;
                border: 1px solid #e1e1e2;
                border-radius: 6px;
              }
            }
            .account_hidden_name_box {
              .account_hidden_content {
                font-size: 12px;
                font-weight: 400;
              }
            }
          }
        }

        &.active {
          // max-height: 223px;
          max-height: 400px;
          padding: 12px 16px;
          .account_hidden_box {
            opacity: 1;
          }
        }
      }
    }
  }
}
